.logo {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    color: azure;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: darkcyan;
    text-align: center;

}
body {
    background-color: black;
}